!!! 5
%html
    %head
        %title TechTennis
        %link(href="js/mobile_site/resources/css/app.css" rel="stylesheet" type="text/css")
        %script(src="js/mobile_site/lib/touch-2.2.0/sencha-touch-debug.js" type="text/javascript")
        %script(id="TechTennis" type="text/javascript" src="js/mobile_site/app.js")
        
        
        
        
    %body
