


body {
	background-color:lightgray;
	
}
#wrapper {
	width:960px;
	margin:auto;
	
}

#header {
	text-align:center;
	margin-bottom:40px;
}

li {
	display: inline;	
}

#nav a {
	text-decoration:none;
	margin:10px;
	color:black;
}

#gamecontainer {
	width:810px;
	margin:auto;
}
#scoreboard {
	width: 250px;
	height:225px;
	float:right;
	background-color: beige;
}

#questionbox {
	background-color: red;
	width:400px;
	height: 225px;
	float:right;
	text-align:center;
}


#clock {
width: 150px;
height: 225px;
background-color: blue;
text-align: center;
float:right;}

#clock h1 {
	font-size:50px;
	position:relative;
	top:50px;	
}

#answerblock {
	clear:both;
	text-align:center;
	padding-top: 20px; 
	position:relative;
	right: 60px;
}

#footer {
	padding-top:50px;
	clear:both;
}