!!!
%html
	%head
		%title Tech Tennis
		%link(rel="stylesheet"href="http://yui.yahoo.apis.com/2.8.0r4/build/reset/reset-min.css")
		%link(rel="stylesheet" href="css/styles.css")
		
	%body
		#wrapper
			#header
				%h1 Welcome to Tech Tennis
				%h2 Test your tech knowledge in a game of speed and wit
			#nav
				%a(href="/")
					%li Home
				%a(href="/about")
					%li About
				%a(href="/profile")
					%li Profile
					
			#content
				=yield
				
			#footer
				This is the footer
					


