<script type = "text/x-handlebars" data-template-name = "incorrect_response">
	{{render "scoreboard"}}
		<div class = "white_stripe">
			<div class = "container question_container">

      			<h3><span>incorrect</span></h3>

			</div>
		</div>

</script>