

		<div id = "holder" class = "container">
		<div id="answer_list_div">
			<ul id = "answer_list">
				<li><input id = "a" class="wide btn-info btn-block" type="submit" value=" A " /><span class = "answer_list" id = "answer_a">{{answer_a}}</span></li>
				<li><input id = "b" class="wide btn-info btn-block" type="submit" value=" B " /><span class = "answer_list" id = "answer_b">{{answer_b}}</span></li>
				<li><input id = "c" class="wide btn-info btn-block" type="submit" value=" C " /><span class = "answer_list" id = "answer_c">{{answer_c}}</span></li>
				<li><input id = "d" class="wide btn-info btn-block" type="submit" value=" D " /><span class = "answer_list" id = "answer_d">{{answer_d}}</span></li>
			</ul>
		</div>
		</div>
		</div>

		
		
