	<div class = "white_stripe">
		<div class = "container question_container">
				<h3 class="answer_response">That's the game!</h3>
				<p class="tag lasth3">The score is <span class ="player_set_score">{{player_set_score}}</span> to <span class = "opponent_set_score">{{opponent_set_score}}</span></p>


		</div>
	</div>