

<h1 class="answer_response">Game, set, match!</h1>
<p class="tag"><span class = "player_set_score">{{player_set_score}}</span> to <span class = "opponent_set_score">{{opponent_set_score}}</span></p>
<p class = "incoming_message"></p>
<div class ="greeter"></div>
<h3>Do you want to play again?</h3>

<ul>	
	<input id="playagainbutton" type="submit" value="Play again?" />
</ul>


