<h1 class="answer_response">That's the game!</h1>
<p class="tag">The score is <span class ="player_set_score">{{player_set_score}}</span> to <span class = "opponent_set_score">{{opponent_set_score}}</span></p>
<p class = "incoming_message"></p>