<div class ="greeter"></div>

<h1 class="answer_response">Game, set, match!</h1>
<p class="tag">{{player_game_score}} to {{opponent_game_score}}</p>
<p class = "incoming_message"></p>
<h3>Do you want to play again?</h3>
<ul id="inline">
	<input id="signin" type="submit" value="Sign in">	
	<input id="playagainbutton" type="submit" value="Play again?">
</ul>
</div>

