<script>
$('#a').click(function() {
	Answer = "a";
});
<script type="text/javascript">window.onload = CreateTimer("timer", 10);</script>


<div id="questions">
	
<h3>{{question}}</h3>


<div id="fill_in_the_blank">
	<p>Type your answer below.</p>
	<input id = "a" type="textarea" rows="10" columns="40" />
</div>

</div>