<div class = "white_stripe">
<div class = "greeter">
	<div class = "container question_container">
    	<h3>"Welcome to TechTennis, an HTML quiz game based on the sport of kings. The score will start at 4-4 in the final set."</h3>

		<div class = "row play_button">

			<button id="playasguestbutton" type="submit" class = "btn-large btn-info">Click to Play</button>

		</div>
	</div>
</div>
</div>
