<div class="greeter">
	<h3>Do you want to sign in or play as a guest?</h3>
	<ul id="inline">
		<input id="signin" type="submit" value="Sign in">	
		<input id="playasguestbutton" type="submit" value="Play as guest">
	</ul>
</div>