<ul>
	<li class="cool">
		<h3 class="playerone">Player One</h3>
		<h4 id="player_score">{{player_score}}</h4>
	</li>

	<li class="cool">
		<h3 class="tech_category">HTML</h3>
		<h4 id="opponent_score">{{cpu_score}}</h4>
	</li>
</ul>



