<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Tech Tennis</title>
		<link rel="stylesheet" href="css/magic-bootstrap-min.css" type="text/css">
		<link rel="stylesheet" href="css/tech_tennis.css" type="text/css">
		<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="/js/colors.js"></script>
		<script type="text/javascript" src="/js/tech-tennis.js"></script>
		
		
		<meta charset="utf-8">
		
		<title>Tech Tennis</title>

	</head>
	
	<body>
	
		
				
			<nav class="navbar navbar-static-top">
			<div class="navbar-inner">
			<ul class="nav">
			  <li class="active">
			    <a class = "brand" href="#">Tech Tennis</a>
			  </li>
			  <li><a class = "navlink" href="#">About</a></li>
			</ul>
			</div>
			</nav>
				<div class = "header_image">
				</div>
			
				

					
				
		
		
						<div id="scoreboard">
							{{>scoreboard}}
						</div>
						
						<div id="questionbox">
							<div class = "white_stripe">
		
						
							<div id="greeter">
								{{> greeter}}
							</div>
	
							<div id="questionaire">
								{{> question}}
							</div>
		
							<div id="ready">
								{{> ready}}
							</div>
							
							<div id="correct">
								{{> correct}}
							</div>
							
							<div id="incorrect">
								{{> incorrect}}
							</div>
							
								<div id="end_of_game">
									{{> end_of_game}}
								</div>
								
									<div id="end_of_set">
										{{> end_of_set}}
									</div>
								</div><!--end white_strip-->
							</div> <!--end question box-->
						
						
							<div id="answers">
								{{> answers}}
							</div>
						
				
	
	
	
			<div class = "navbar-fixed-bottom footer_stuff yellow">
				<hr class = "hr yellow">
				<span class = "name yellow">made by Jeremy Samples</span>
			</div>
		
				
	
		

	</body>
</html>