<!doctype html>
		<html lang="en">
	<head>
		<link href="/css/tech_tennis.css" rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="/js/colors.js"></script>
		<script type="text/javascript" src="/js/tech-tennis.js"></script>
		
		<meta charset="utf-8">
		
		<title>Tech Tennis</title>

	</head>
	
	<body>
	
		
				
			<div id="nav">
				<ul id="navlist">
					<li class="navitem"><a class="navlinks" href="/">Home</a></li>	
					<li class="navitem"><a class="navlinks" href="/about">About</a></li>
					<li class="navitem"><a class="navlinks" href="/profile">Profile</a></li>
				</ul>
			</div>
			
				<div id="wrapper">
				
				<div id="header">
				
					<h1>Welcome to Tech Tennis</h1>
					<h2>Test your tech knowledge in a game of speed and wit</h2>
					<script>
						function printToday() {
							var today = new Date();
							document.write(today.toDateString());
						}
						printToday();
					</script>
					</div>
		<div id="main">
					<img id="ball" src = "images/tennis_ball.png">
				
						<div id="gamecontainer">
			
			
							<div id="scoreboard">
								{{>index}}
							</div>
			
							<div id="questionbox">
								<div id="greeter">
									{{> greeter}}
								</div>
		
								<div id="multiplechoice">
									{{> multiplechoice}}
								</div>
			
								<div id="ready">
									{{> ready}}
								</div>
								
								<div id="correct">
									{{> correct}}
								</div>
								
								<div id="incorrect">
									{{> incorrect}}
								</div>
									
							</div> <!--end question box-->
						
						<div id="clock"> 
						</div> <!--end clock container-->
		
			</div> <!-- end game container -->
			</div>
			</div> <!-- end content wrapper-->
			
		
			
			<div id="footer">
				<p>This is the footer</p>
			</div>
	
		

	</body>
</html>