<div id="questions">
	
<h3 id = "question">{{question}}</h3>




<div id="multiple_choice">
<ul id = "answers">
	<li><input id = "a" type="submit" value=" A " /><span class = "answer_list" id = "answer_a">{{answer_a}}</span></li>
	<li><input id = "b" type="submit" value=" B " /><span class = "answer_list" id = "answer_b">{{answer_b}}</span></li>
	<li><input id = "c" type="submit" value=" C " /><span class = "answer_list" id = "answer_c">{{answer_c}}</span></li>
	<li><input id = "d" type="submit" value=" D " /><span class = "answer_list" id = "answer_d">{{answer_d}}</span></li>
</ul>
</div>


</div>