<div id="questions">
<h3>{{question}}</h3>



<div id="multiple_choice">
<ul id="answers">
	<li><input type="button" value=" A " />{{answer_a}}</li>
	<li><input type="button" value=" B " />{{answer_b}}</li>
	<li><input type="button" value=" C " />{{answer_c}}</li>
	<li><input type="button" value=" D " />{{answer_d}}</li>
</ul>
</div>

<div id="fill_in_the_blank">
	<input type="text" />
</div>

</div>

<div id="greeter">
	<h3>Do you want to sign in or play as a guest?</h3>
	<ul id="inline">
		<li><input type="submit" value="Sign in"></li>
		<li><input id="playasguest" type="submit" value="Play as guest"></li>
	</ul>
</div>
		