<div id="questions">
<h3>What is that thing in the sky?</h3>
<ul id="answers">
	<li>a. moon</li>
	<li>b. sun</li>
	<li>c. star</li>
	<li>d. grass</li>
</ul>
</div>

<div id="greeter">
	<h3>Do you want to sign in or play as a guest?</h3>
	<ul id="inline">
		<li><input type="submit" value="Sign in"></li>
		<li><input id="playasguest" type="submit" value="Play as guest"></li>
	</ul>
</div>
		