	<div>
	<div>
		<div class="gray">

			  <!--Game content-->
			<div class="container">
				<div class="row">
					<div class = "span2">

						<p></p>
					</div>

						<div class = "span2 white">
							<h4>Games</h4>
						</div>
							<div class = "span2 white">

								<h4>Points</h4>	

							</div>
				</div>	
			</div>

								<div class="container">
									<div class="row">
										<div class = "span2">
										
											<h4>USER</h4>
										</div>
											<div class = "span2" id = "user_games">
											
												<h4 id = "player_game_score">{{user_game_score_translation}}</h4>
											</div>

												<div class = "span2" id = "user_points">
													<h4 id = "player_set_score">{{user_set_score}}</h4>
												</div>
									</div>
								</div>



								<div class="container">
									<div class="row">
										<div class = "span2">
											<h4 id = "current_quiz_type">{{current_quiz_type}}</h4>
										</div>
												<div class = "span2" id = "opponent_games">
													<h4 id = "opponent_game_score">{{opponent_game_score_translation}}</h4>
												</div>
														<div class = "span2" id = "opponent_points">
															<h4 id = "opponent_set_score">{{opponent_set_score}}</h4>
														</div>
															
									</div>
								</div>
							</div>
						</div>
					</div>