!!! 5
%html
    %head
        %title TechTennis
        %script(id="TechTennis" type="text/javascript" src="js/mobile_site/Tech_Tennis.js")
    %body
        %div#warning
            %p You must have Javascript enabled to view this site.