!!!
%html
	%head
		%title Tech Tennis Mobile
		%link(rel="stylesheet" href="/css/tech_tennis_moblile.css")
		%link(rel="stylesheet" href="/js/tech_tennis.js")
		-# links to load Sencha go here
		
	%body
		