body {
	margin-bottom: 50px;
	background: lightgray;
}
.gray {
	position:absolute;
	top:100px;
	right:5px;
	background: rgba(0, 0, 0, 0.85);
	padding: 10px;
	color:lightgray;
	width: 360px;
}


.footer_stuff {
	background: #333333;
	background: rgba(84, 109, 90, 0.85);
	padding: 0px 5px 5px 0px;
	color:lightgray;
	text-align: right;
	width: 100%;
}

.white {
	position:relative;
	right: 25px;
}

.header_image {
	height: 210px;
	background-image: url('../images/row_of_tennis_balls.png');
	background-repeat:no-repeat;
	background-size: cover;
	
}


.wide {
	width: 110px;
	padding: 10px;
	margin:10px;
}

#answer_list_div li {list-style-type: none; }

#answer_list_div input { display: inline-block; }

#holder {
	width:600px;
	margin:auto;
	padding-bottom: 50px;
	clear:both;
	}
	
.white_stripe {
	width: 100%;
	float:right;
	background-color:white;
}

.question_container {
	clear:both;
	width: 520px;
	padding: 20px;
	text-align:center;
}



.hr {
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	width: 100%;
}

.navlink {
	font-size: 17px;
}

.play_button {
	text-align: center;
}


@media all and (max-width: 550px) {

	
	#holder {
		position:relative;
		margin: auto;
		clear:both;
	}
	
		.white_stripe {
			width: 100%;
			float:left;
			background-color:white;
			background-size: cover;
			height: auto;
			z-index:-1;
		}
	
	
	.question_container {
		position:relative;
		background-color:white;
			margin: auto;
			width: 90%;
			height:20%;
			
	}
	
	.gray {
		position:absolute;
		top:50px;
		right:5px;
		background: rgba(0, 0, 0, 0.85);
		padding: 10px;
		color:lightgray;
	}
	
	.header_image {
		height: 160px;
	}
	
}


#ready {
	display:none;
}

#correct {
	display:none;
}

#incorrect {
	display:none;
}

#end_of_game {
	display:none;
}

#end_of_set {
	display:none;
}

#questionaire {
	display:none;
}

#answers {
	display:none;
}





#a, #b, #c, #d {
	width: 100px;
	height: 40px;
	padding: 10px;
	
}



h1.answer_response {
	font-size: 250%;
}

.tag {
	font-size: 150%;
}

.answer_list {
	font-size:17.5px;
	font-weight:bold;
}

.navbar-fixed-bottom {
	width: 100%;
}

.lasth3 {
	padding: 0px;
	margin: 0px;
}











