







/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


html, body {
	height:100%;
	background-color:#3A6629;
	margin:0px;
	padding:0px;
	
}
#wrapper {
	min-height: 100%;
	width:960px;
	margin:auto;
	
}

#main {
	overflow:auto;
	margin:0px;
	padding:0px;
	}  /* must be same height as the footer */

#header {
	text-align:center;
	margin:0px;
	padding-top:40px;
}



li.navitem {
	display: inline;
	padding:10px;	
}

ul#navlist {
list-style-type:none;
margin:0;
padding:0;
}

a.listlinks {
display:block;
width:60px;
background-color: #820BBB;
}



#nav {
	position:absolute;
	display:block;
	top: 0px;
	background-color: #820BBB;
	padding: 0px;
	margin:0px;
	width: 100%;
	
}

#nav a {
	text-decoration:none;
	color:black;
	
}

#gamecontainer {
	width:820px;
	margin:auto;
	padding-top:40px;
	
}
#scoreboard {
	width: 250px;
	height:225px;
	float:right;
	background-color: #F5F5F5;
	border: 3px solid #FFE600;
	position:relative;
}

#questionbox {
	background-color: #F5F5F5;
	width:400px;
	height: 225px;
	float:right;
	text-align:center;
	border: 3px solid #FFE600;
}



#clock {
width: 150px;
height: 225px;
background-color: #F5F5F5;
text-align: center;
float:right;
border: 3px solid #FFE600;


}

#clock h1 {
	font-size:50px;
	position:relative;
	top:50px;	
}




#greeting li{
	padding:30px;
}

ul#answers li {
	text-align: left;
	padding: 5px;
	list-style: none;
}

#greeter li {
	display:inline;
	padding:20px;
	list-style:none;
}

li.cool {
	list-style:none;
}

span.answer_list {
	padding: 10px;
}

#a, #b, #c, #d {
	width: 50px;
	height: 20px;
	padding: 10px;
	
}

#ball {
	position:absolute;
	top: 140px;
}

#footer {
	background-color: #820BBB;
	position: fixed;
	bottom: 0px;
	width: 100%;
	clear:both;
	padding:0px;
}

#footer p {
	padding: 0px;
	margin : 0px;
}


